{% load static %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1 id="weekly-traffic-title">Traffic This Week</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <canvas id="chart-weekly-traffic" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1 id="monthly-traffic-title">Monthly Traffic</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <canvas id="chart-monthly-traffic" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
