{% load static %}
{% load widget_tweaks %}

<table class="table table-bordered" style="table-layout: fixed">
    <thead>
        <tr class="text-center">
            <th scope="col">Hour/Day</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <th scope="row">6:00 AM</th>
                {% for dow in schedules %}
                    {% if dow.h0600  %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">7:00 AM</th>
                {% for dow in schedules %}
                    {% if dow.h0700 %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">8:00 AM</th>
                {% for dow in schedules %}
                    {% if dow.h0800 %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">9:00 AM</th>
                {% for dow in schedules %}
                    {% if dow.h0900 %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">10:00 AM</th>
                {% for dow in schedules %}
                    {% if dow.h1000 %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">11:00 AM</th>
                {% for dow in schedules %}
                    {% if dow.h1100 %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">12:00 PM</th>
                {% for dow in schedules %}
                    {% if dow.h1200 %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">1:00 PM</th>
                {% for dow in schedules %}
                    {% if dow.h1300 %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">2:00 PM</th>
                {% for dow in schedules %}
                    {% if dow.h1400 %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">3:00 PM</th>
                {% for dow in schedules %}
                    {% if dow.h1500 %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">4:00 PM</th>
                {% for dow in schedules %}
                    {% if dow.h1600 %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">5:00 PM</th>
                {% for dow in schedules %}
                    {% if dow.h1700 %}
                        <td class="active"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
</table>