{% load static %}
{% load widget_tweaks %}

<div class="modal fade" id="modal-StudentSection-newStudentModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Student &nbsp;<i class="fas fa-user-graduate"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container" id="StudentSection-newStudentFormBody">
                    <form method="post" id="form-StudentSection-newStudent">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ studentForm.schoolId.id_for_label }}">
                                {{ studentForm.schoolId.label_tag }}
                            </label>
                            <div class="col-md-9">
                                {% render_field studentForm.schoolId class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ studentForm.firstName.id_for_label }}">
                                {{ studentForm.firstName.label_tag }}
                            </label>
                            <div class="col-md-9">
                                {% render_field studentForm.firstName class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ studentForm.lastName.id_for_label }}">
                                {{ studentForm.lastName.label_tag }}
                            </label>
                            <div class="col-md-9">
                                {% render_field studentForm.lastName class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ studentForm.sex.id_for_label }}">
                                {{ studentForm.sex.label_tag }}
                            </label>
                            <div class="col-md-9">
                                {% render_field studentForm.sex class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ studentForm.email.id_for_label }}">
                                {{ studentForm.email.label_tag }}
                            </label>
                            <div class="col-md-9">
                                {% render_field studentForm.email class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ studentForm.dob.id_for_label }}">
                                {{ studentForm.dob.label_tag }}
                            </label>
                            <div class="col-md-9">
                                {% render_field studentForm.dob class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ studentForm.academicYear.id_for_label }}">
                                {{ studentForm.academicYear.label_tag }}
                            </label>
                            <div class="col-md-9">
                                {% render_field studentForm.academicYear class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ studentForm.major.id_for_label }}">
                                {{ studentForm.major.label_tag }}
                            </label>
                            <div class="col-md-9">
                                {% render_field studentForm.major class='form-control' %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center" id="StudentSection-newStudentSuccessScreen" style="display:none!important;">
                    <i class="fas fa-check-circle fa-3x spin-pulse" style="color: green;"></i>
                    <h3 style="color:green;">You were successfully registered!</h3>
                </div>

            </div>

            <div class="modal-footer">
                <h6 class="is-invalid" id="text-StudentSection-schoolIdTaken" style="display:none;">That School ID is already taken</h6>
                <i class="fas fa-spinner spin" id="icon-StudentSection-newStudentLoading" style="display:none;"></i>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="button-StudentSection-newStudentClose">Close</button>
                <button class="btn btn-primary hover-jump" id="button-StudentSection-newStudentSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>