{% load static %}
{% load widget_tweaks %}

<div class="modal fade" id="modal-StudentSection-newStudentModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Student &nbsp;<i class="fas fa-user-graduate"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container" id="StudentSection-newStudentFormBody">
                    <form action="{% url 'create_student' %}" method="post" id="form-StudentSection-newStudent">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.schoolId.id_for_label }}">School ID</label>
                            <div class="col-md-9">
                                {% render_field form.schoolId class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.firstName.id_for_label }}">First Name</label>
                            <div class="col-md-9">
                                {% render_field form.firstName class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.lastName.id_for_label }}">Last Name</label>
                            <div class="col-md-9">
                                {% render_field form.lastName class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.sex.id_for_label }}">Sex</label>
                            <div class="col-md-9">
                                {% render_field form.sex class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.email.id_for_label }}">Email</label>
                            <div class="col-md-9">
                                {% render_field form.email class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.dob.id_for_label }}">Date of Birth</label>
                            <div class="col-md-9">
                                {% render_field form.dob class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.academicYear.id_for_label }}">Academic Year</label>
                            <div class="col-md-9">
                                {% render_field form.academicYear class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.major.id_for_label }}">Major</label>
                            <div class="col-md-9">
                                {% render_field form.major class='form-control' %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center" id="StudentSection-newStudentSuccessScreen" style="display:none!important;">
                    <h3 style="color:green;">You were successfully registered!</h3>
                    <i class="far fa-check-circle fa-4x" style="color: green;"></i>
                    <h5>Now that you're registered, close this window and sign-in by entering your Y number</h5>
                </div>

            </div>

            <div class="modal-footer">
                <h6 class="is-invalid" id="text-StudentSection-schoolIdTaken" style="display:none;">That School ID is already taken</h6>
                <i class="fas fa-spinner spin" id="icon-StudentSection-newStudentLoading" style="display:none;"></i>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="button-StudentSection-newStudentClose">Close</button>
                <button class="btn btn-info hover-jump" id="button-StudentSection-newStudentSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>