{% load static %}
{% load widget_tweaks %}

<div class="modal fade" id="modal-new-student-form" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container {% comment %}justify-content-center d-flex flex-column h-100 w-50{% endcomment %}">
                    <form action="{% url 'create_student' %}" method="post" id="form-student">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.schoolId.id_for_label }}">School ID</label>
                            <div class="col-md-9">
                                {% render_field form.schoolId class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.firstName.id_for_label }}">First Name</label>
                            <div class="col-md-9">
                                {% render_field form.firstName class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.lastName.id_for_label }}">Last Name</label>
                            <div class="col-md-9">
                                {% render_field form.lastName class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.sex.id_for_label }}">Sex</label>
                            <div class="col-md-9">
                                {% render_field form.sex class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ form.email.id_for_label }}">Email</label>
                            <div class="col-md-9">
                                {% render_field form.email class='form-control' %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary hover-jump" id="button-student-submit">Submit</button>
            </div>
        </div>
    </div>
</div>