{% load static %}
{% load widget_tweaks %}

<div class="modal fade" id="modal-StudentSection-openSessionModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="text-StudentSection-studentName"></span> &nbsp;<i class="far fa-smile-wink"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container" id="StudentSection-openSessionFormBody">
                    <form method="post" id="form-StudentSection-openSession">
                        {% csrf_token %}
                        {{ openSessionForm.student.as_hidden }}
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ openSessionForm.reason.id_for_label }}">{{ openSessionForm.reason.label_tag }}</label>
                            <div class="col-md-9">
                                {% render_field openSessionForm.reason class='form-control' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="{{ openSessionForm.course.id_for_label }}">{{ openSessionForm.course.label_tag }}</label>
                            <div class="col-md-9">
                                {% render_field openSessionForm.course class='form-control' %}
                            </div>
                        </div>
                    </form>
                </div>

                <div class="container tac-center" id="StudentSection-openSessionSuccess" style="display:none!important;">
                    <i class="fas fa-check-circle fa-3x spin-pulse" style="color: green;"></i>
                    <h3 class="text-center">You've signed-in!</h3>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary hover-jump" data-dismiss="modal">Close</button>
                <button class="btn btn-primary hover-jump" id="button-StudentSection-openSessionSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>