{% load static %}

<button class="btn btn-primary hover-jump" style="position: absolute;top:20px; right:30px;width: 100px;" id="button-StudentSection-home">Home</button>
<div class="container h-100 d-flex justify-content-center align-items-center flex-column">
    <h2>Enter Your Y-Number to Sign-In</h2>
    <input class="form-control w-50 text-center" type="text" id="input-StudentSection-schoolId" style="font-size: 150%;"/>
    <hr />
    <button class="btn btn-primary hover-jump w-25" id="button-StudentSection-yNumberSubmit" style="height: 7%;">Submit</button>
</div>



{% include 'SignIn/StudentSection/_NewStudentFormModal.html' %}
{% include 'SignIn/StudentSection/_OpenSessionFormModal.html' %}
{% include 'SignIn/StudentSection/_CloseSessionFormModal.html' %}


