body{
    font-family: 'Krub', sans-serif;
}

.hover-expand{
    transition: all 0.2s ease-in-out;
}

.hover-expand:hover{
    transform: scale(1.1,1.1);
}

.hover-translate-left, .hover-translate-right{
    transition: all 0.2s ease-in-out;
}
.hover-translate-left:hover{
    transform: translateX(-5%);
}

.hover-translate-right:hover{
    transform: translateX(5%);
}

@keyframes jump {
    50% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}
@keyframes pulse {
    50% { transform: scale(1.25,1.25)}
    100% {transform: scale(1,1)}
}
@keyframes shake {
    33% {transform: translateY(-7%)}
    66% {transform: translateY(7%)}
    100% {transform: translateY(0%)}
}

.is-invalid{
   color: red;
}

.spin {
    animation: spin 1s infinite linear;
}

.pulse {
    animation: pulse 1s infinite linear;
}

.shake-3{
    animation: shake 0.1s linear 3;
}
@keyframes spinPulse {
    50% {transform: rotate(360deg);}
    75% {transform: scale(1.1,1.1);}
    100%{transform: scale(1,1);}
}
.spin-pulse{
    animation: spinPulse 0.7s ease-in-out;
    animation-delay: 0.2s;
}
.home-button{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 100px;
}

.tac-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#twitter-widget-0{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}








