/*YSU RED COLOR CODE: #A2182F*/

body{
    font-family: 'Krub', sans-serif;
}

.hover-expand{
    transition: all 0.2s ease-in-out;
}

.hover-expand:hover{
    transform: scale(1.1,1.1);
}

.hover-translate-left, .hover-translate-right{
    transition: all 0.2s ease-in-out;
}
.hover-translate-left:hover{
    transform: translateX(-5%);
}

.hover-translate-right:hover{
    transform: translateX(5%);
}

@keyframes jump {
    50% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}
@keyframes pulse {
    50% { transform: scale(1.5,1.5)}
    100% {transform: scale(1,1)}
}
@keyframes shake {
    33% {transform: translateY(-7%)}
    66% {transform: translateY(7%)}
    100% {transform: translateY(0%)}
}

.is-invalid{
   color: red;
}

.spin {
    animation: spin 1s infinite linear;
}

.pulse {
    animation: pulse 1s infinite linear;
}

.shake-3{
    animation: shake 0.1s linear 3;
}






