body{
    font-family: 'Krub', sans-serif;
}


.hover-expand{
    transition: all 0.2s ease-in-out;
}

.hover-expand:hover{
    transform: scale(1.1,1.1);
}

.hover-translate-left, .hover-translate-right{
    transition: all 0.2s ease-in-out;
}
.hover-translate-left:hover{
    transform: translateX(-5%);
}

.hover-translate-right:hover{
    transform: translateX(5%);
}

