{% load static %}

<div class="container h-100 d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-center m-5"><i class="fas fa-user-tie fa-4x"></i></h1>
    <button class="btn btn-primary hover-jump home-button" onclick="ChangeSection('#home-section')">
        <i class="fas fa-home"></i>
    </button>
    <h2>Enter Your Y-Number to Clock-in/Clock-out</h2>
    <form class="w-100 d-flex align-items-center justify-content-center flex-column" method="post" id="form-EmployeeSection-schoolId">
        {% csrf_token %}
        <input class="form-control w-50 text-center" type="text" id="input-EmployeeSection-employeeId" style="font-size: 150%;"/>
    </form>

    <hr />
    <button class="btn btn-primary hover-jump w-25" id="button-EmployeeSection-employeeIdSubmit" style="height: 7%;">Submit</button>
</div>


{% include 'SignIn/EmployeeSection/_OpenShiftFormModal.html' %}
{% include 'SignIn/EmployeeSection/_CloseShiftFormModal.html' %}
