{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Custom Bootstrap/TAC-custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/SignIn/TAC_Logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}" />    <!--Social Media Buttons-->
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}" />    <!--Date Picker Input-->
    {% block styles %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.inputmask.bundle.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script id="validator-methods">
        jQuery.validator.addMethod("noPastDate", function(value){
            let today = new Date();
            let day = today.getDate();
            let month = today.getMonth();
            let year = today.getFullYear();
            let split = value.split('-');
            let valYear = parseInt(split[0]);
            let valMonth = parseInt(split[1])-1;
            let valDay = parseInt(split[2]);
            return valYear >= year && valMonth >= month && valDay >= day;
        }, jQuery.validator.format("Date must not be in the past"));
    </script>
    {% include 'SignIn/API_SignIn.html' %}
    {% block scripts %}
    {% endblock %}
</body>
</html>