{% load static %}

<div class="container d-flex align-items-center justify-content-center h-100 flex-grow-0 flex-column">
    <div class="row justify-content-center">
        <img src="{% static 'images/SignIn/TAC_Logo.png' %}" style="height:10%;width:25%;"/>
    </div>

    <div class="row">
        <h1>Welcome to the Tutoring Assistance Computer</h1>
    </div>

    <div class="row" style="padding-top: 10px;">
        <h3>Please select if you are a student or employee</h3>
    </div>

    <div class="row w-100">
        <div class="col-md-3"></div>
        <div class="col-md-3" id="col-button-student">
            <button class="btn btn-info student-or-employee hover-jump" data-section="#student-section">
                Student
            </button>
        </div>
        <div class="col-md-3" id="col-button-employee">
            <button class="btn btn-info student-or-employee hover-jump" data-section="#employee-section">
                Employee
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>