{% load static %}

<span id="seasonal-insert"></span>

<div class="d-flex position-absolute twitter-feed h-100 align-items-center" id="twitter-feed" style="right: 0;">
    <div class="d-flex" style="width: 110%" id="social-media">
        <div class="d-flex flex-column">
            <div class="btn-group-vertical" id="HomeSection-socialMediaGroup">
                <a class="btn btn-twitter" id="HomeSection-twitterToggle" href="https://twitter.com/ysu_mac?lang=en">
                    <i class="fab fa-twitter" style="color:white;"></i>
                </a>
                <a class="btn btn-instagram" id="HomeSection-instagramToggle" href="https://www.instagram.com/ysu_mac/?hl=en">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="btn btn-facebook" id="HomeSection-facebookToggle" href="https://www.facebook.com/YsuMathematicsAssistanceCenter/">
                    <i class="fab fa-facebook-f" style="color:white;"></i>
                </a>
            </div>
        </div>
        <div id="twitter-timeline">
            <a class="twitter-timeline" data-width="250" data-height="500" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/YSU_MAC?ref_src=twsrc%5Etfw">Tweets by YSU_MAC</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
<div class="container d-flex tac-center h-100">
    <div class="row justify-content-center align-items-center d-flex">
        <img class="w-100 h-100" src="{% static 'images/SignIn/MAC_Logo.png' %}" /><!--style="height:10%;width:25%;"-->
    </div>
    <!--<img class="w-100 h-100" src="/static/images/SignIn/TAC%20background%20test.png" style="position: center">-->
    <div class="row text-center">
        <h1>Welcome to the Math Assistance Center</h1>
    </div>

    <div class="row text-center" style="padding-top: 10px;">
        <h4>Please select if you are a student or employee</h4>
    </div>

    <div class="row w-100">
        <div class="col-md-3"></div>
        <div class="col-md-3" id="col-button-student">
            <button class="btn btn-primary student-or-employee hover-jump" data-section="#student-section" id="student-sectionHome">
                Student
            </button>
        </div>
        <div class="col-md-3" id="col-button-employee">
            <button class="btn btn-primary student-or-employee hover-jump" data-section="#employee-section" id="employee-sectionHome">
                Employee
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<template id="spooky-season">
    <div class="seasonal-insert d-flex align-items-center justify-content-center flex-column">
        <h5>Boo! Spooky Season!</h5>
        <i class="fas fa-ghost fa-3x pulse" id="seasonal-icon"></i>
    </div>
</template>
<template id="christmas-season">
    <div class="seasonal-insert d-flex align-items-center justify-content-center flex-column">
        <h5>HO HO HO!</h5>
        <h5>Happy Holidays!</h5>
        <i class="fas fa-gift fa-3x pulse"></i>
    </div>
</template>
<template id="turkey-season">
    <div class="seasonal-insert d-flex align-items-center justify-content-center flex-column">
        <h5>Yum! Turkey Season!</h5>
        <i class="fas fa-utensils fa-3x pulse"></i>
    </div>
</template>
