{% extends 'Base.html' %}
{% load static %}
{% block title %}
    Dashboard &middot; Employee &middot; TAC
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}" />
{% endblock %}
{% block content %}

<nav class="navbar navbar-expand navbar-dark bg-primary static-top">

    <a class="navbar-brand mr-auto" href="">
        Employee - {{ firstName }} {{ lastName }}
    </a>

      {% comment %}<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>{% endcomment %}

      <!-- Navbar -->
    <ul class="navbar-nav ml-md-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">
                <i class="fas fa-home fa-fw fa-lg"></i>
            </a>
        </li>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw fa-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <h6 class="dropdown-header">{{ firstName }} {{ lastName }}</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>
</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active" id="home-item">
            <a class="nav-link" href="" id="home-link">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item" id="availability-item">
            <a class="nav-link" href='' id="availability-link">
                <i class="far fa-calendar-alt"></i>
                <span>Availability</span>
            </a>
        </li>
        <li class="nav-item" id="time-off-item">
            <a class="nav-link" href="" id="time-off-link">
                <i class="fas fa-plane-departure"></i>
                <span>Time-Off</span>
            </a>
        </li>
        <li class="nav-item" id="shifts-item">
            <a class="nav-link" href="" id="shifts-link">
                <i class="fas fa-building"></i>
                <span>Shifts</span>
            </a>
        </li>
        <p class="d-flex justify-content-center sidebar-header row" id="made-by">
            Made For You By
        </p>

        <div class="d-flex justify-content-center sidebar-header row" id="dashboard-logo">
            <img class="w-75 h-75 rounded" src="{% static 'images/Dashboard/TAC_Logo_White_BG.png' %}" />
        </div>
    </ul>

    <div id="content-wrapper">
        <!-- CONTENT UPDATED WITH AJAX -->
    </div>

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © TAC</span>
            </div>
        </div>
    </footer>
</div>


    <!-- Scroll to Top Button-->
    {% comment %}
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    {% endcomment %}

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary hover-jump" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary hover-jump" href="{% url 'employee_logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <template id="loading-screen-template">
        <div class="tac-center h-100">
            <i class="fas fa-spinner fa-5x spin"></i>
        </div>
    </template>
    <input type="hidden" id="startSection" value="{{ start }}" />

{% endblock %}

{% block scripts %}
<script id="dashboard-scripts">

    $(document).ready(function(){
        let startSection = $('#startSection').val();
        if (startSection === 'home')
            ShowHomeSection();
        else if (startSection === 'availability')
            ShowAvailabilitySection(false);
        else if (startSection === 'timeoff')
            ShowTimeOffSection();
        else
            ShowShiftsSection();
        BindDashboardEvents();
    });


    function BindDashboardEvents(){
        $('#availability-link').click(function(e){
            e.preventDefault();
            ShowAvailabilitySection(false);
        });

        $('#home-link').click(function(e){
           e.preventDefault();
           ShowHomeSection();
        });

        $('#time-off-link').click(function(e){
           e.preventDefault();
           ShowTimeOffSection();
        });

        $('#shifts-link').click(function(e){
            e.preventDefault();
            ShowShiftsSection();
        })
    }


    function ShowAvailabilitySection(post){
        //history.pushState({section: 'availability'}, null, 'availability');
        $('#content-wrapper').html($('#loading-screen-template').html());
        $.get("{% url 'availability_view' %}", function(data){
            $('#content-wrapper').html(data);
            if (post) {
                $('#availability-success').show();
            }
            $('.nav-item.active').removeClass('active');
            $('#availability-item').addClass('active');
            BindAvailabilitySectionEvents();
        });
    }

    function ShowHomeSection(){
        //history.pushState({section: 'home'}, null, 'home');
        $('#content-wrapper').html($('#loading-screen-template').html());
        $.get("{% url 'home_view' %}", function(data){
            $('#content-wrapper').html(data);
            $('.nav-item.active').removeClass('active');
            $('#home-item').addClass('active');
        });
    }

    function ShowTimeOffSection(){
        //history.pushState({section: 'timeoff'}, null, 'timeoff');
        $('#content-wrapper').html($('#loading-screen-template').html());
        $.get("{% url 'timeoff_view' %}", function(data){
            $('#content-wrapper').html(data);
            $('.nav-item.active').removeClass('active');
            $('#time-off-item').addClass('active');
            TimeOffBindings();
        });
    }
    function ShowShiftsSection(){
        //history.pushState({section: 'shifts'}, null, 'shifts');
        $('#content-wrapper').html($('#loading-screen-template').html());
        $.get("{% url 'shifts_view' %}", function(data){
            $('#content-wrapper').html(data);
            $('.nav-item.active').removeClass('active');
            $('#shifts-item').addClass('active');
            $('#table-shifts').DataTable();
        });
    }
</script>

{% include 'Dashboard/Scripts/Availability_Scripts.html' %}
{% include 'Dashboard/Scripts/TimeOff_Scripts.html' %}
<script src="{% static 'js/datatables.min.js' %}"></script>
{% endblock %}
