{% load static %}
<div class="d-flex justify-content-center sidebar-header row">
    <img class="w-75 h-75" src="{% static 'images/SignIn/TAC_Logo_Text.png' %}" />
</div>
<hr class="hr-home">
<ul class="list-unstyled components" id="sidebar-links">
    <li class="active">
        <button class="btn btn-outline-primary section-button active" data-section="#home-section" id="home-button">
            Home <i class="fas fa-home"></i>
        </button>
    </li>
    <li>
        <button class="btn btn-outline-primary section-button" data-section="#student-section" id="student-button">
            Student <i class="fas fa-user-graduate"></i>
        </button>
    </li>
    <li>
        <button class="btn btn-outline-primary section-button" data-section="#employee-section" id="employee-button">
            Employee <i class="fas fa-user-tie"></i></i>
        </button>
    </li>
    <li>
        <a class="btn btn-outline-primary section-button" id="button-tools" href="{% url 'employeeDashboard' %}">
            Employee Tools <i class="fas fa-toolbox"></i>
        </a>
    </li>
</ul>