{% extends 'Base.html' %}
{% load static %}

{% block title %}TAC &middot; Home{% endblock %}

{% block styles %}
    <style>
    .wrapper{
        transition: opacity 1s ease-in-out;
    }
    .wrapper.hidden{
        opacity: 0;
    }
    .student-or-employee{
        width: 100%;
        height: 200%;
    }

    /*#col-button-employee, #col-button-student {
        margin-top: 15px;
        margin-bottom: 15px;
    }*/

    .student-or-employee:hover{
        /*background-color: grey !important;*/
    }

    .hover-jump:hover{
        animation: jump 1s infinite ease-in-out;
    }

    #content{
        transition: all 2s ease-in-out;
        overflow: hidden;
        /*animation: slide-down 1s;*/
    }
    #content.start-up{
        transform: translateY(-5%);
    }
    .wrapper{
        display: flex;
        align-items: stretch;
        width: 100%;

    }
    #sidebar{
        padding: 10px;
        transition: all 0.5s ease-in-out;
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
    }
    #sidebar.active{
        margin-left: -250px;
    }
    @media (max-width: 768px) {
        /*#sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }*/
        #col-button-employee, #col-button-student {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .student-or-employee {
            width: 100%;
            height: 100%;
        }
        .seasonal-insert{
            display: none !important;
        }
    }
    #sidebar-links > li > button{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .section {
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 0.45s ease-out;
    }
    .section.off-screen{
        transform: translateX(100%);
    }
    .section.active {
        display: block;
    }
    .section-button {
        transition: background-color 0.2s linear;
    }
    .seasonal-insert {
        transform: rotate(30deg);
        position: absolute;
        right: 50px;
        top: 50px;
    }
    .twitter-feed{
        margin-right: -250px;
        transition: margin-right 0.5s ease-in-out;
    }
    .twitter-feed.active{
        margin-right: 0px;
    }
    .btn-facebook{
        background-color: rgb(59,89,152);
        border-color: rgb(59,89,152);
    }

</style>
{% endblock %}


{% block content %}
<div class="wrapper hidden">
    <nav id="sidebar" class="active">
        {% include 'SignIn/_Sidebar.html' %}
    </nav>

    <button type="button" id="button-sidebar" class="btn btn-secondary"><span>III</span></button>

    <div class="start-up" id="content" style="min-height: 100vh;width: 100%;">
        <div class="section active" id="home-section" data-button="#home-button">
            <!--<img class="w-100 h-100" src="/static/images/SignIn/anti%20weed.jpg" style="position: ; left: 0; top: 0;"/>-->
            {% include 'SignIn/HomeSection/_HomeSection.html' %}
        </div>
        <div class="section off-screen" id="student-section" data-button="#student-button">
            {% include 'SignIn/StudentSection/_StudentSection.html' %}
        </div>
        <div class="section off-screen" id="employee-section" data-button="#employee-button">
            {% include 'SignIn/EmployeeSection/_EmployeeSection.html' %}
        </div>
    </div>
</div>
<template id="spooky-season">
    <div class="seasonal-insert d-flex align-items-center justify-content-center flex-column">
        <h5>Boo! Spooky Season!</h5>
        <i class="fas fa-ghost fa-3x pulse"></i>
    </div>
</template>
<template id="christmas-season">
    <div class="seasonal-insert d-flex align-items-center justify-content-center flex-column">
        <h5>HO HO HO!</h5>
        <h5>Happy Holidays!</h5>
        <i class="fas fa-gift fa-3x pulse"></i>
    </div>
</template>
<template id="turkey-season">
    <div class="seasonal-insert d-flex align-items-center justify-content-center flex-column">
        <h5>Yum! Turkey Season!</h5>
        <i class="fas fa-utensils fa-3x pulse"></i>
    </div>
</template>
{% endblock %}



{% block scripts %}
<script>
    const SCHOOL_ID_FORMAT = "Y00999999";
    $(document).ready(function(){
        $('.wrapper').removeClass('hidden');
        $('#content').removeClass('start-up');
        BindIndexEvents();
        SeasonalInserts();
    });

    function SeasonalInserts(){
        let month = (new Date()).getMonth();
        if (month === 9)
            $('#home-section').append($('#spooky-season').html());
        else if (month === 10)
            $('#home-section').append($('#turkey-season').html());
        else if (month === 11)
            $('#home-section').append($('#christmas-season').html());

    }
    function BindIndexEvents(){
        $('#button-sidebar').click(function(){
            $('#sidebar').toggleClass('active');
        });
    }

    /**
     * Changes the active section and highlights its respective button
     * @Param {string} sectionId - The id of the target section with #
     */
    function ChangeSection(sectionId){
        let sectionName;
        if (sectionId.includes('home'))
            sectionName = 'Home';
        else if (sectionId.includes('student'))
            sectionName = 'Student';
        else
            sectionName = 'Employee';
        // Get the DOM objects for the target section/button and the currently active section/button
        let targetButton = $($(sectionId).data('button'));
        let targetSection = $($(sectionId));
        let activeButton = $('.section-button.active').first();
        let activeSection = $(activeButton.data('section'));

        // If the targetSection is the current active section, end function
        if (activeSection.attr('id') === targetSection.attr('id'))
            return;

        // Fade to target section and highlight its respective button
        activeButton.removeClass('active');
        targetButton.addClass('active');
        /*activeSection.addClass('off-screen').fadeOut('fast').promise().done(function(){
            targetSection.fadeIn('fast').removeClass('off-screen');
        });*/
        activeSection.addClass('off-screen').fadeOut('fast');
        setTimeout(function(){
            targetSection.fadeIn().removeClass('off-screen');
        },200);
        $('title').first().text('TAC \267 {0}'.format(sectionName));
    }


    /**
     * Restart an animation playback for a given element. NOTE: Only works with animation classes
     * @param element - DOM element to apply animation restart
     * @param animationClass - Animation from a class to be restarted
     */
    function RestartAnimation(element,animationClass){
        $(element).removeClass(animationClass);
        $('#button-StudentSection');
        setTimeout(function(){
           $(element).addClass(animationClass);
        },100);
    }



</script>

{% include 'SignIn/HomeSection/Scripts/Scripts_HomeSection.html' %}
{% include 'SignIn/StudentSection/Scripts/Scripts_StudentSection.html' %}
{% include 'SignIn/EmployeeSection/Scripts/Scripts_EmployeeSection.html' %}

{% endblock %}
