{% extends 'Base.html' %}
{% load static %}

{% block title %}TAC &middot; Sign-In{% endblock %}

{% block styles %}
    <style>
    .wrapper{
        transition: opacity 1s ease-in-out;
    }
    .wrapper.hidden{
        opacity: 0;
    }
    .student-or-employee{
        width: 100%;
        height: 200%;
    }
    .student-or-employee:hover{
        /*background-color: grey !important;*/
    }

    .hover-jump:hover{
        animation: jump 1s infinite ease-in-out;
    }

    #content{
        transition: all 2s ease-in-out;
        /*animation: slide-down 1s;*/
    }
    #content.start-up{
        transform: translateY(-5%);
    }
    .wrapper{
        display: flex;
        align-items: stretch;
        width: 100%;

    }
    #sidebar{
        padding: 10px;
        transition: all 0.5s ease-in-out;
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
    }
    #sidebar.active{
        margin-left: -250px;
    }
    @media (max-width: 768px) {
        /*#sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }*/
        #col-button-employee, #col-button-student {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .student-or-employee {
            width: 100%;
            height: 100%;
        }
    }
    #sidebar-links > li > button{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .section {
        display: none;
        width: 100%;
        height: 100%;
    }
    .section.active {
        display: block;
    }
    .section-button {
        transition: background-color 0.2s linear;
    }
</style>
{% endblock %}


{% block content %}
<div class="wrapper hidden">
    <nav id="sidebar" class="active">
        {% include 'SignIn/_Sidebar.html' %}
    </nav>

    <button type="button" id="button-sidebar" class="btn btn-info"><span>III</span></button>

    <div class="start-up" id="content" style="min-height: 100vh;width: 100%;">
        <div class="section active" id="home-section" data-button="#home-button">
            {% include 'SignIn/_HomeSection.html' %}
        </div>
        <div class="section" id="student-section" data-button="#student-button">
            {% include 'SignIn/StudentSection/_StudentSection.html' %}
        </div>
        <div class="section" id="employee-section" data-button="#employee-button">
            {% include 'SignIn/_EmployeeSection.html' %}
        </div>
    </div>
</div>
{% endblock %}



{% block scripts %}
<script>
    $(document).ready(function(){
        Validators();
        InputMasks();
        $('.wrapper').removeClass('hidden');
        $('#content').removeClass('start-up');
        BindIndexEvents();
    });

    function BindIndexEvents(){
        $('#button-sidebar').click(function(){
            $('#sidebar').toggleClass('active');
        });

        $('.section-button').click(function(){
            ChangeSection($(this).data('section'));
        });

        $('.student-or-employee').click(function(){
            ChangeSection($(this).data('section'));
        });

        $('#button-student-submit').click(function(){
            let sendData = { 'schoolId': $('#id_schoolId').val() };
            $.getJSON("{% url 'school_id_taken' %}", sendData, function(data) {
                if (data.isTaken){
                    alert("School ID is already taken");
                    return;
                }
                if (!$('#form-student').valid())
                    return;

                let postData = $('#form-student').serialize();
                $.post("{% url 'create_student' %}", postData, function(data){
                    if (data.student_is_valid)
                        alert("Saved");
                    else
                        alert("Invalid form");
                });
            });

        });


        {% comment %}
        $('#id_schoolId').change(function(){
            let requestData = { 'schoolId': $('#id_schoolId').val() };
            $.get("{% url 'school_id_taken' %}", requestData, function(data) {
                if (data.isTaken || !$('#id_schoolId').inputmask('isComplete')) {
                    $('#id_schoolId').siblings('#id-taken,#id-not-taken').remove();
                    $('#id_schoolId').after($('#temp-id-taken').html());
                }
                else {
                    $('#id_schoolId').siblings('#id-taken,#id-not-taken').remove();
                    $('#id_schoolId').after($('#temp-id-not-taken').html());
                }
            });
        });
        {% endcomment %}
    }

    /**
     * Changes the active section and highlights its respective button
     * @Param {string} sectionId - The id of the target section with #
     */
    function ChangeSection(sectionId){
        // Get the DOM objects for the target section/button and the currently active section/button
        let targetButton = $($(sectionId).data('button'));
        let targetSection = $($(sectionId));
        let activeButton = $('.section-button.active').first();
        let activeSection = $(activeButton.data('section'));

        // If the targetSection is the current active section, end function
        if (activeSection.attr('id') === targetSection.attr('id'))
            return;

        // Fade to target section and highlight its respective button
        activeButton.removeClass('active');
        targetButton.addClass('active');
        activeSection.fadeOut('fast').promise().done(function(){
            targetSection.fadeIn('fast');
            $('#form-student').validate().resetForm();
            $('#form-student').trigger('reset');
        });
    }
    /**
     * Registers all jquery.validate validators for all forms
     */
    function Validators(){
        $('#form-student').validate({
            messages: {
                schoolId: "Invalid ID",
                firstName: "Please enter your first name",
                lastName: "Please enter your last name"
            },
            success: function(label, element){
                $(element).addClass('is-valid').removeClass('is-invalid');
            },
            highlight: function(element, errorClass, validClass){
                $(element).addClass('is-invalid').removeClass('is-valid');
            },
            unhighlight: function(element){
                $(element).removeClass('is-invalid').removeClass('is-valid');
            }
        });
    }

    function InputMasks(){
        $("#id_schoolId").inputmask("Y00999999");
    }
</script>

{% endblock %}
