{% extends 'Base.html' %}
{% load static %}

{% block title %}TAC &middot; Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/SignIn/signin.css' %}" />
{% endblock %}


{% block content %}
<div class="wrapper hidden">
    <nav id="sidebar" class="active">
        {% include 'SignIn/_Sidebar.html' %}
    </nav>

    <button type="button" id="button-sidebar" class="btn btn-primary"><i class="fas fa-bars fa-lg"></i></button>

    <div class="start-up" id="content" style="min-height: 100vh;width: 100%;">
        <div class="section active" id="home-section" data-button="#home-button">
            <!--<img class="w-100 h-100" src="/static/images/SignIn/anti%20weed.jpg" style="position: ; left: 0; top: 0;"/>-->
            {% include 'SignIn/HomeSection/_HomeSection.html' %}
        </div>
        <div class="section off-screen position-relative" id="student-section" data-button="#student-button">
            {% include 'SignIn/StudentSection/_StudentSection.html' %}
        </div>
        <div class="section off-screen" id="employee-section" data-button="#employee-button">
            {% include 'SignIn/EmployeeSection/_EmployeeSection.html' %}
        </div>
    </div>
</div>

{% endblock %}



{% block scripts %}
<script>
    const SCHOOL_ID_FORMAT = "Y00999999";
    $(document).ready(function(){
        $('.wrapper').removeClass('hidden');
        $('#content').removeClass('start-up');
        BindIndexEvents();
        $('input').each(function(){
           $(this).attr('autocomplete', 'nope');
        });
    });


    function BindIndexEvents(){
        $('#button-sidebar').click(function(){
            $('#sidebar').toggleClass('active');
        });
    }

    /**
     * Changes the active section and highlights its respective button
     * @Param {string} sectionId - The id of the target section with #
     */
    function ChangeSection(sectionId){
        //console.log(sectionId);
        let sectionName;
        if (sectionId.includes('home'))
            sectionName = 'Home';
        else if (sectionId.includes('student'))
            sectionName = 'Student';
        else
            sectionName = 'Employee';
        // Get the DOM objects for the target section/button and the currently active section/button
        let targetButton = $($(sectionId).data('button'));
        let targetSection = $($(sectionId));
        let activeButton = $('.section-button.active').first();
        let activeSection = $(activeButton.data('section'));

        // If the targetSection is the current active section, end function
        if (activeSection.attr('id') === targetSection.attr('id'))
            return;

        // Fade to target section and highlight its respective button
        activeButton.removeClass('active');
        targetButton.addClass('active');
        /*activeSection.addClass('off-screen').fadeOut('fast').promise().done(function(){
            targetSection.fadeIn('fast').removeClass('off-screen');
        });*/
        activeSection.addClass('off-screen').fadeOut('fast');
        setTimeout(function(){
            targetSection.fadeIn().removeClass('off-screen');
        },200);
        $('title').first().text('TAC \267 {0}'.format(sectionName));
    }


    /**
     * Restart an animation playback for a given element. NOTE: Only works with animation classes
     * @param element - DOM element to apply animation restart
     * @param animationClass - Animation from a class to be restarted
     */
    function RestartAnimation(element,animationClass){
        $(element).removeClass(animationClass);
        $('#button-StudentSection');
        setTimeout(function(){
           $(element).addClass(animationClass);
        },100);
    }



</script>

{% include 'SignIn/HomeSection/Scripts/Scripts_HomeSection.html' %}
{% include 'SignIn/StudentSection/Scripts/Scripts_StudentSection.html' %}
{% include 'SignIn/EmployeeSection/Scripts/Scripts_EmployeeSection.html' %}

{% endblock %}
