{% load static %}

<script id="time-off-scripts">

    function LoadTimeOffSection(){
        $('#table-time-off').DataTable({
            'ordering': true
        });

        $('button.time-off-submit').click(function(){
            let action;
            if ($(this).hasClass('btn-success'))
                action = 1;
            else
                action = 2;
            let id = $(this).parent().parent().find('input[type="hidden"]').first().val();
            let comments = $(this).parent().parent().find('.comments').first().val();
            let data = {
                'status': action,
                'pk': id,
                'comment': comments,
            };
            $.ajax('time-off', {
                type: 'POST',
                headers: {'X-CSRFToken': getCookie('csrftoken')},
                data: data,
                success: function(data){
                    ShowTimeOffSection();
                }
            });
        });
    }
</script>