// All customizations MUST be added above the imports or they will not be
// implemented.

// HALLOWEEN THEME

$TAC-Orange: #FF6C00 !default;
$indigo:  #6610f2 !default;

$theme-colors: (
  "primary": $TAC-Orange,
  "seconday": $indigo
);

.btn-secondary {
  color: #fff !important;
  background-color: indigo !important;
  border-color: indigo !important;
}

.btn-outline-primary {
  color: #fff !important;
  background-color: black !important;
  border-color: $TAC-Orange !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #FF6C00 !important;
  border-color: #FF6C00 !important;
}

//@import "bootstrap";

// Required
@import "functions";
//@import "variables";
@import "mixins";
@import "TAC-custom-Variables";
@import "buttons";
@import "forms";
@import "grid";
@import "reboot";
@import "type";
@import "utilities";
@import "alert";
@import "badge";
@import "breadcrumb";
@import "button-group";
@import "card";
@import "carousel";
@import "close";
@import "code";
@import "custom-forms";
@import "dropdown";
@import "images";
@import "input-group";
@import "jumbotron";
@import "list-group";
@import "media";
@import "modal";
@import "nav";
@import "navbar";
@import "pagination";
@import "popover";
@import "print";
@import "progress";
@import "root";
@import "tables";
@import "tooltip";
@import "transitions";